body {
  background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/6/25/kYMbd6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;
  font-family: 'Raleway', 'arial';
  font-weight: 100;
}

@media screen and (max-width: 1300px) {
  body {
    background-size: auto;
  }
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo_bar {
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  color: white;
  margin-bottom: -30px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

#logo {
  max-width: 50px;
  max-height: 50px;
  vertical-align: middle;
}

#form_box {
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

#form_heading {
  color: #ff7b00;
  padding: 15px 0 0 10px;
  font-family: 'Raleway', 'arial';
  font-weight: 100;
  font-size: 1.5em;
}

#font_20 {
  font-size: 15px;
}

input {
  background: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid #DDDDDD;
  color: white;
  font-family: 'Raleway', 'arial';
  font-weight: 100;
  font-size: 17px;
}

input:focus {
  box-shadow: 0 0 10px rgba(255, 123, 0, 1);
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(255, 123, 0, 1);
}

input[type=submit]:hover {
  cursor: pointer;
}

#credits_box {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 380px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-family: 'Raleway', 'arial';
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: antiquewhite;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}